* {margin: 0; padding: 0;}
body {font: 16px Georgia, serif; color:white; }

a {color:#0087ff;}

section > div { padding: 20px;}

header {text-align: center;}
nav {text-align: center;}
section {text-align: left;}
footer {text-align: center;}

nav a {margin: 0px 10px 0px 0px;}

